# EMQX (must match the values in tunav/Src/main.c)
EMQX_HOST=jfaa7c61.ala.eu-central-1.emqxsl.com
EMQX_PORT=8883
EMQX_USERNAME=Tunav
EMQX_PASSWORD=chebli
EMQX_TOPIC=tunav/telemetry

# Supabase
SUPABASE_URL=https://yvwkbxscvuqrhetagqpn.supabase.co
SUPABASE_KEY=sb_secret_v9zG2t7rxt3uaha51Kx2EQ_zynWb9ZR

# REST API
PORT=3000

# Simulator (optional, used by simulator.js only)
INTERVAL_MS=3000
DEVICE_IMEIS=864369039705391
